# This file holds shared secrets or RSA private keys for authentication.
%any %any : PSK "tai1guuthavu8hiequeta7aib7zei9AeshaiZah7cheero1ais"
# RSA private key for this host, authenticating it to any other host
# which knows the public part.