# This file holds shared secrets or RSA private keys for authentication.
%any %any : PSK "{{ default_ipsec_psk }}"
# RSA private key for this host, authenticating it to any other host
# which knows the public part.