require-mschap-v2
refuse-mschap
ms-dns 8.8.8.8
ms-dns 8.8.4.4
asyncmap 0
auth
#crtscts
mtu 1200
mru 1200
#lock
hide-password
logfile /var/log/xl2tpd.log
debug
#modem
name l2tpd
proxyarp
nodeflate
lcp-echo-interval 30
lcp-echo-failure 4